$speed: .8s;

.sprinkhaan-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  .sprinkhaan-close {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    opacity: 0;
    z-index: -1;
  }

  .sprinkhaan-inner {
    position: fixed;
    overflow: hidden;
    height: 100vh;
  }

  .sprinkhaan-media {
    pointer-events: auto;
    transform: translate(100vh);

    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }

  .sprinkhaan-content-wrapper {
    transform: translate(100vh);
    pointer-events: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .sprinkhaan-header {
    width: 100%;
  }

  .sprinkhaan-header.is-not-sticky {
    cursor: pointer;
    position: absolute;
  }

  .sprinkhaan-header.is-sticky {
    cursor: pointer;
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .sprinkhaan-content {
    pointer-events: auto;
    background: white;
  }
}

.sprinkhaan-container[data-state="expanded"][data-animating="false"] {
  .sprinkhaan-inner {
    overflow-y: scroll;
  }
}

.sprinkhaan-container[data-state="expanded"]{
  .sprinkhaan-close {
    opacity: 1;
    z-index: 11;
  }
}

.sprinkhaan-container[data-sticky-header="true"] {
  .sprinkhaan-header.is-sticky {
    opacity: 1;
    z-index: 10;
  }

  .sprinkhaan-header.is-not-sticky {
    opacity: 0;
    z-index: -1;
  }
}