//@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.sprinkhaan-header {
  padding: 30px 15px;
  background-color: #306134;
  color: white;
  transition: padding .2s ease, box-shadow .4s ease;

  &.is-sticky {
    padding-left: 50px;
    box-shadow: 0 0 10px rgba(black, 0);
  }
}

.sprinkhaan-container .sprinkhaan-content {
  padding: 15px;
  background-color: #f6f6d7;
}

.sprinkhaan-container .sprinkhaan-close-button {
  &:before, &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    background-color: white;
    width: 16px;
    height: 2px;
    border-radius: 4px;
  }

  &:before {
    transform-origin: bottom left;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:after{
    transform-origin: top left;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

[data-state="expanded"][data-pre-sticky-header="true"] {
  .sprinkhaan-header.is-not-sticky {
    padding-left: 50px;
  }
}

.sprinkhaan-container[data-sticky-header="true"] {
  .sprinkhaan-header.is-sticky {
    box-shadow: 0 0 10px rgba(black, 1);
  }
}

@media screen and (min-width: 680px) {
  .sprinkhaan-container {
    right: 40px;
    left: auto;
    max-width: 600px;
    bottom: 0;
    height: calc(100% - 200px);
  }

  .sprinkhaan-header {
    transition: box-shadow .4s ease;
  }

  [data-pre-sticky-header="true"] {
    .sprinkhaan-header {
      padding-left: 15px !important;
    }
  }

  .sprinkhaan-container .sprinkhaan-close-button {
    left: auto;
    right: 30px;

    &:before {
      transform-origin: center center;
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:after{
      transform-origin: center center;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

}

// Media 'buttons'
.sprinkhaan-container {
  &[data-video-is-playing="false"] {
    .sprinkhaan-media:after {
      opacity: 1;
    }

    .sprinkhaan-media:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 3;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      opacity: 1;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 30px solid white;
    }
  }

  &[data-video-is-playing="true"] {
    .sprinkhaan-media:after {
      opacity: 0;
    }

    .sprinkhaan-media:before {
      opacity: 0;
    }
  }
}

