@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.sprinkhaan-header {
  padding: 20px;
  background-color: #306134;
  color: white;

  &.is-sticky {
    padding-left: 55px;
    box-shadow: 0 0 10px black;
  }
}

.sprinkhaan-content {
  padding: 20px;
}

.sprinkhaan-close {
  &:before, &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    background-color: white;
    width: 15px;
    height: 5px;
    border-radius: 4px;
  }

  &:before {
    transform-origin: bottom left;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:after{
    transform-origin: top left;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}