$speed: .8s;

body {overflow-y:hidden; }

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.sprinkhaan-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
  -webkit-overflow-scrolling: touch;

  .sprinkhaan-close-button {
    position: absolute;
    top: 20px;
    left: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    opacity: 0;
    z-index: -1;
  }

  .sprinkhaan-inner {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .sprinkhaan-media {
    width: 100%;
    transform: translateY(100vh);
    left: 0;
    position: relative;
    padding-bottom: 57%;
    pointer-events: auto;
    user-select: none;

    iframe,
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      bottom: 0;
      right: 0;
    }
  }

  .sprinkhaan-content-wrapper {
    transform: translateY(100vh);
    pointer-events: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .sprinkhaan-header {
    width: 100%;
    user-select: none;
  }

  .sprinkhaan-header.is-not-sticky {
    position: absolute;
  }

  .sprinkhaan-header.is-sticky {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .sprinkhaan-content {
    pointer-events: auto;
    background: white;
    user-select: none;

  }
}

.sprinkhaan-container[data-state="expanded"][data-animating="false"] {
  .sprinkhaan-inner {
    overflow-y: scroll;
  }
}

.sprinkhaan-container[data-state="expanded"]{
  .sprinkhaan-inner {
    pointer-events: all;
  }

  .sprinkhaan-close-button {
    opacity: 1;
    z-index: 11;
    pointer-events: auto;
  }
}

.sprinkhaan-container[data-state="collapsed"] {
  .sprinkhaan-header.is-not-sticky {
    cursor: pointer;
  }
}

.sprinkhaan-container[data-sticky-header="true"] {
  .sprinkhaan-header.is-sticky {
    opacity: 1;
    z-index: 10;
  }

  .sprinkhaan-header.is-not-sticky {
    opacity: 0;
    z-index: -1;
  }
}